*{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}
body.darkmode header, 
body.darkmode .navbar-nav a, 
body.darkmode main,
body.darkmode #copyright,
body.darkmode .p-about
{
    background: #292936;
    color: #f5f5f5;
}
body.darkmode .button, 
body.darkmode, 
body.darkmode #button-download,
body.darkmode .button-about
{
    background: #8e29af;
}
body.darkmode .button:hover, 
body.darkmode, 
body.darkmode #button-download:hover,
body.darkmode .button-about:hover
{
    background: #9c9cd8;
    color: #292936;
}
body.darkmode span{
    color: #fdf5ff;
}
header{
    background-color: #c6c6f3;
}
.texthome{
    font-size: 0.8em;
}
.navbar-nav a{
    color: #292936 ;
    font-size: 1.3em ;
    margin-right:0.5em;
    font-weight: 500;
}
.navbar-nav a:hover{
    color:#9e199e ;
    font-size: 1.4em;
    text-transform: none;
    font-weight: 800;
}
.buttonDarkMode ul{
    list-style: none;
    margin-right: 1em;
    margin-top: 1em;
}
input[type="checkbox"]{
    display: none;
}
.image{
    max-width: 5em;
    margin-left: 20px;
}
main{
    background-image: url("img/background.png");
    background-size:cover;
    background-position: center;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 1em 2em 2em;
    margin-right: 2em;    
}
#first-column h1{
    font-weight: 900;
    font-size: 4.5em;
}
#first-column h2{
    font-weight:400  ;
    font-size: 2.5em;
}
span{
    color: #9e199e;
}
.button, .button-projects{
    background: linear-gradient(90deg, #8219a5, #db12c9) ;
    color: aliceblue;
    padding: 16px 32px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-right: 0.5em;
    font-size: 1.3em;
}
.button{
    background: linear-gradient(90deg, #8219a5, #db12c9) ;
    color: aliceblue;
    padding: 16px 32px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-right: 0.5em;
    font-size: 1.3em;
}
.button:hover{
    background: #d554f5;
    font-weight: bold;
    color: aliceblue;
}
.links{
    width:4em;
    margin-right: 0.5px;
}
.gallery {
    display:flex ;
    flex-wrap: wrap ;
    justify-content: center;
}
.img-gallery {
    position: relative;
    margin: 3em 2em;
    width: calc(22% - 20px);
    overflow: hidden;
}
.img-gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}
.img-gallery:hover img {
    transform: scale(1.1) ;
}
.about-me {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 5em 2em 4em 2em;
    line-height: 2em;
}
.tech-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.showMore{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
}
.showMore img{
    margin: 3em 0 4em 1em;
    padding: 0.5em;
    height: 5.5em;
    width: 5.5em;
    background-color: #9d9ddb;
    opacity: 0.6 ;
    border-radius: 50%;
    object-fit:cover ;
}
.tagTech {
    display: none;
}
.tagTech.ativa {
    display: block;
    padding: 1em;
}
.bar {
    width: 100%;
    height: 20px;
    background-color: #9c9cd8;
  }
.line {
    height: 20px;
    background-color:#d554f5 ;
}
.line[data-width="80"] {
    width: 80%;
}
.line[data-width="75"] {
    width: 75%;
}
.line[data-width="45"] {
    width: 45%;
} 
.line[data-width="25"] {
    width: 25%;
}
.button-about, #button-download{
    background-color: #c870df  ;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-right: 0.5em;
    font-size: 1em;
}
.button-about{
    padding: 16px 32px;
}
#button-download{
    padding: 10px 20px;
}
.button-about:hover, #button-download:hover{
    background-color: #541968;
    color: aliceblue;
}
.socialslinks img{
    width: 3em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.project-page{
    margin: 2.5em;
    padding-top: 2em;
    padding-bottom: 22rem;
    width: 100%;
    height: 45vh;
}
.img-project-page{
    display: block;
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
}
.btn-project{
    background: #9c9cd8;
    color: #292936;
    padding: 8px 50px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    margin-top: 0.5em;
}
.btn-project:hover{
    background: #541968;
    color: #ececf7;
}
.description-project{
    display: inline;
    background: #9c9cd8;
    color: #2c0d36;
    padding: 10px 90px;
    margin-left: 0.5em;
    margin-top: 2em;
    visibility: hidden;
    transition: visibility 0.3s;
}
.project-page:hover .description-project{
    visibility: visible;
}
#copyright{
    background-color: #263138;
    color: #fff;
    padding: 1.5em;
    font-size: 1.1em;
    text-align: center;
    } 
#copyright a{
    color: #c6c6f3;
}
@media(min-width: 2102px){
    
    #first-column h1{
        font-size: 7em;
    }
    #first-column h2{
        font-size: 6em;
    }
    .links{
        width:5em;
    }
    .button{
        padding: 8px 16px;
        font-size: 2em;
    }
    .imglaptop{
        margin-top: 5em;
    }
    .tech{
        padding: 7em;
    }
    .techtitle a{
        font-size: 2em;
        font-weight: 400;
        padding: 16px 32px;
    }
}
@media(max-width: 1440px){
    .image{
        max-width: 5em;
    }
    .navbar-nav a{
        font-size: 0.9em;
    }
    .texthome{
        display: none;
    }
    #first-column{
        margin-left: 6em ;
    }
    #first-column h1{
        font-size: 4em;
    }
    #first-column h2{
        font-size: 2em;
    }
    .links{
        width:2em;
    }
    .button{
        padding: 8px 16px;
        font-size: 1em;
    }
}
@media(max-width: 1024px){
    .image{
        max-width: 3em;
    }
    .navbar-nav a{
        font-size: 0.9em;
    }
    .texthome{
        display: none;
    }
    #first-column h1{
        font-size: 3.5em;
    }
    #first-column h2{
        font-size: 2em;
    }
    .links{
        width:2em
    }
    .button{
        padding: 6px 10px;
        font-size: 0.8em;
    }
    .tagTech.ativa{
        display: none;
    }
}
@media(max-width: 780px){
    .image{
        max-width: 3em;
    }
    .navbar-nav a{
        font-size: 0.9em;
    }
    #first-column h1{
        font-size: 3.5em;
    }
    #first-column h2{
        font-size: 2em;
    }
    .links{
        width:2em
    }
    .button{
        padding: 6px 10px;
        font-size: 1em;
    }
    .techstack-about{
        display: flex;
        padding-right: 0.5em;
    }
    #button-download{
        display: block;
        margin-left: 5em;
        margin-bottom: 1.5em;
    }
}
@media(max-width:480px){
    .main-container{
        padding-top: 1em;
        margin:0;
        line-height: 1em;
    }
    .image{
        max-width: 5em;
    }
    #first-column{
        margin-left: 2em;
    }
    #first-column h1{
        font-size: 3em;
    }
    #first-column h2{
        font-size: 2em;
    }
    .links{
        width:2em;
        padding: 10px 1px;
    }
    .button{
        padding: 4px 4px;
        font-size: 0.8em;
    }
    .imglaptop{
        min-width: 15em;
    }
    .tech{
        display: inline;
    }
    .about-me{
        display: block;
    }
    .techstack-about{
        display: block;
    }
    .socialslinks img{
        width: 3em;
        margin-left: 1rem;
        margin-bottom: 2em;
        margin-right: 1rem;
    }
    #button-download{
        display: block;
        margin-left: 6em;
    }
    .techstack-about img{
        margin: 2em 0.2em;
        padding: 0.3em;
        height: 4em;
        width: 4em;
        background-color: #9d9ddb;
        opacity: 0.6 ;
        border-radius: 50%;
        object-fit:cover ;
    }
    #gallery-projects{
        display: none;
    }
}
@media(max-width:400px){
    .main-container{
        line-height: 0.5em;
    }
    .image{
        max-width: 5em;
    }
    #first-column h1{
        font-size: 2em;
    }
    #first-column h2{
        font-size: 1,5em;
    }
    .links{
        width:2em;
        padding: 10px 1px;
    }
    .button{
        padding: 4px 4px;
        font-size: 0.8em;
    }
    .imglaptop{
        min-width: 10em;
    }
    #button-download{
        display: block;
        margin-left: 4.5em;
    }
}